# fly.toml app configuration file generated for hng13-task-zero on 2025-12-12T16:47:14Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hng13-task-zero'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
